.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container {
      background-color: #000000;
    }
}
