textarea {
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-family: helvetica;
  height: 70px;
  outline: none;
  overflow: hidden;
  resize: none;
  text-align: right;
  width: 225px;
}

.normal {
  font: 57px helvetica;
}

.small {
  font: 40px helvetica;
}

.smallest {
  font: 38px helvetica;
}
